.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* margin: 10px; */
    background-color: white;
    color: black;
    margin-bottom: 60px
  }

  .cards {
      margin-bottom: 60px
  }

  .card img {
      width: 300px
  }